header {
  background-color: #656d4a;
  padding: 0;
  margin: 0;
}
body {
  margin: 0 !important;
}

main {
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: #656d4a;
}
ul {
  list-style-type: none;
  margin: 0;
  background-color: #656d4a;
  padding: 8px;
}
li {
  display: inline;
  padding-inline: 8px;
}

li a {
  text-decoration: none !important;
  color: #262b1d;
}

h1 {
  text-align: center;
  text-decoration: underline;
  background-color: #505a3c;
  text-decoration-style: solid;
  font-family:Georgia, 'Times New Roman', Times, serif;
  font-variant: small-caps;
  font-size: 32px;
  color: #262b1d;
  margin-block-start: 0;
  padding-top: 16px;
}
.catalogue {
  text-align: center;
  text-decoration: underline;
  text-decoration-color: #262b1d;
  text-decoration-style: solid;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-variant: small-caps;
  color: #262b1d;
}

.catalogue h2 {
  font-size: 15px;
}
.listImage {
  margin-top: 6em;
  width: 10em;
  height: 10em;
}
.catalogue h3 {
  font-size: 15px;
}
.flowerimage {
  margin-top: 6em;
  width: 19em;
  height: 10em;
}
.catalogue h2 {
  font-size: 15px;
}
.crochetImage {
  margin-top: 6em;
  width: 19em;
  height: 10em;
}
.notionimage {
  margin-top: 6em;
  width: 6em;
  height: 12em;
} 